<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%# <%= javascript_pack_tag 'application' %1> %>
  </head>

  <body>
    <div id="app">
      <%= render "shared/navbar" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <app/>
    </div>

    <%= javascript_pack_tag 'app_vue' %>
  </body>
</html>
