<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="app">
      <%= render "shared/navbar" %>
      <app-notify notice="<%= notice.to_s %>" alert="<%= alert.to_s %>"></app-notify>
      <div class="q-pa-md row justify-center">
        <div class="col-6">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= javascript_pack_tag 'app_vue' %>
  </body>
</html>
